@import "tailwindcss";
@keyframes froStream {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
html,
body {
  height: 100%;
  background-color: #0f1624; /* same as bg-gray-900 tone */
}

/* Optional fade on edges for polish */
.scroll-fade {
  mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
}